<app-navbar></app-navbar>

<main aria-labelledby="main-heading" class="home">
  <h1 id="main-heading" class="visually-hidden">Página Inicial</h1>
  <section class="cards" aria-label="Conteúdo em destaque">
    <article class="card">
      <img src="#" alt="Imagem representativa do conteúdo" class="card__image">
      <div class="card__content">
        <p class="card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et blanditiis porro, obcaecati tempora soluta laborum vitae sequi temporibus ratione animi consectetur unde corrupti exercitationem facilis dignissimos laboriosam necessitatibus tenetur numquam?
        </p>
        <button class="card__cta-btn" aria-label="Cadastrar-se">
          Cadastrar-se
        </button>
      </div>
    </article>
  </section>
</main>

<app-footer></app-footer>
